{% load i18n %}

<div class="gi-formset inline-group"
     data-inline-prefix="{{ inline_admin_formset.formset.management_form.prefix }}"
     data-inline-labels="{{ inline_admin_formset.formset.labels }}">

  <div class="inline-related {% if forloop.last %}last-related{% endif %}">
    {{ inline_admin_formset.formset.management_form }}

    <fieldset class="module">
      <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
      {{ inline_admin_formset.formset.non_form_errors }}

      <div class="gi-grid">
        {% for inline_admin_form in inline_admin_formset %}

          <div class="gi-grid-item {% if forloop.last %} empty-form{% endif %}">
            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
            {{ inline_admin_form.fk_field.field }}

            {% for fieldset in inline_admin_form %}
              {% for line in fieldset %}
                {% for field in line %}
                  {{ field.field }}
                {% endfor %}
              {% endfor %}
            {% endfor %}

            {% if inline_admin_formset.formset.can_delete %}
              {% if inline_admin_form.original %}
                <label class="file-delete">
                  {{ inline_admin_form.deletion_field.field }}
                  {% trans "Delete?" %}
                </label>
              {% endif %}
            {% endif %}

          </div>

        {% endfor %}
      </div>

    </fieldset>
  </div>
</div>