.gi-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gi-grid-item {
  margin-top: 17px;
  width: 222px;
  min-height: 218px;
  margin-right: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.gi-grid-item .help {
  height: 15px;
  padding: 0 6px;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gi-grid-item img {
  width: 222px;
  height: 125px;
}

.gi-grid .file-upload {
  margin: 0 5px;
  display: block;
  text-align: center;
}

.gi-grid .button {
  padding: 10px 15px;
  display: block;
}

.gi-grid input[type=file] {
  display: none;
}

.gi-grid .file-delete {
  margin: 0 5px;
  padding: 5px 0;
  display: block;
}

.gi-grid .file-empty {
  height: 125px;
  margin-bottom: 6px;
}

.gi-grid .file-empty h1 {
  padding-top: 60px;
  text-align: center;
}

.gi-grid .file-choose {
  margin: 0 5px;
}

.gi-grid .selector-available > select {
  border-top-width: 0;
}
